@charset "utf-8";
@use "variable";
@use "mixin";
@use "btn";
/* ------------
全ページ共通のcss
------------- */

/*グラデーション背景 */
body{
  background-image: url("../images/gradient_background_pc.webp");
  // 横幅100％で高さ自動調整
  background-size: 100% auto;
  background-repeat: no-repeat;
}

// .main{
// margin-top: 120px;}


/*下層ページのメインビジュアル */
.mainvisual {
position: relative;
margin: 0;
padding: 0;
  
  img{
  width: 100%; 
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
      &-ja{
      font-size: 16px;
      }
      &-en{
        font-size: 32px;
        font-family: variable.$ff-en; 
      }
  }

}

/*横線付きの見出し */
.section__title{
  position: relative;
  display: inline-block;
  margin-bottom: 73px;
  padding-left: 64px;

&-ja{
display: block;
margin-bottom: 10px;
font-size: 17px;
letter-spacing: 0.2em;
}
&-en{
  font-size: 42px;
  font-family: variable.$ff-en; 
}
&::before{
  content: '';
  position: absolute;
  left: 0;
  top: 60%;
  display: inline-block;
  width: 48px;
  height: 1px;
  background:variable.$text-color;
}
}

.section__title-contact {
  line-height: 1.5;
.ja{
font-size: 17px;
letter-spacing: 0.2em;
margin-bottom: 5px;
}
.en{
  font-size: 42px;
  font-family: variable.$ff-en; 
}
}

/*各ページ下部にあるcontactセクション */
.contact{
  padding: 132px 0;
  background: linear-gradient(0deg, rgba(255,219,196,1) 0%, rgba(255,219,196,0) 100%);

  &__inner{
      display: block;
      text-align: center;
      max-width: variable.$width-inner;
      margin: 0 auto;
      }
  .btn-rectangle{
          margin-top: 36px;  
      }

  &__text{
      // margin-top: 42px;
      line-height: 1.5;
}
}

/*制作実績の詳細ページ */


/*Webサイト*/
.mainvisual__title-work{
  padding: 135px 0 135px 0;
  margin: 0 auto;
  text-align: center;
      
  & p.ja{
      font-size: 16px;
  }
  &  p.en{
      font-size: 32px;
      font-family: variable.$ff-en; 
  }
}

.work{
  &__img{
      margin: 0 auto;
      width:52% ;
      img{
          width: 100%;
      }
  }
  &__inner{
      max-width: variable.$width-inner;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-top: 161px;
      margin: 0 auto;

      h3{
          font-size: 32px;
          font-family: variable.$ff-en;
      }
  }
  &__detail{
      display: block;
      text-align: left;
      width: 67%;
      padding-left: 20px;
  }

  &__head{
      display: flex;
      gap:36px
  }

  &__heading{
      display: block;
      h4{
          font-size: 25px;
          font-weight: normal;
          margin: 0;
      }
      p.work__lead{
          margin-top: 14px;
          font-size: 18px;
      }
  }

  &__category{
      display: flex;
      gap: 8px;
      height: 36px;
  }
  
  &__label{
      display: inline-block;
      padding: 6px 24px;
      line-height: 1.5;
      color: variable.$text-color;
      background-color: variable.$cream-beige;
      border: 1px solid variable.$peach-fuzz;
      border-radius: 32px;
  }

  &__desc{
      padding-top: 48px;
      margin-left: auto;

      & dl{
          display: flex;
          gap: 40px;
          padding-bottom: 32px;
  
          dt{
              width: 110px;
              font-size: 15px;
          }
  
          dd{
              width: 70%;
              font-size: 15px;
              line-height: 1.5;
          }
      }               
  }
}

/*_websiteの画像配置 */
.detail__img-pc{
  max-width: variable.$width-inner;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 146px;
  padding: 0 20px;
  img{
      width: 45%;
      border-radius: 10px;
      margin-bottom: 100px;
      img{
          width: 100%;
      }
  }
}

.detail__img-sp{
  max-width: variable.$width-inner;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 20px;
  img{
      width: 28%;
      border-radius: 10px;
      img{
          width: 100%;
      }
  }
}
