@charset "utf-8";
@use "variable";
@use "mixin";
@use "btn";
/* --------
フッター
-------- */
.footer {
    top: 0px;
    // width: 100%;
    // background: linear-gradient(#FFDBC4, #FFD1B6);

    a:hover {
        opacity: 0.5;
        }
        
    &__inner {
        // display: flex;
        // justify-content: space-between;
        align-items: center;
        height: 162px;
        padding: 0 5%;
        background: linear-gradient(#FFDBC4, #FFD1B6);
    }

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;  
        padding-top: 34px;
    }

    &__logo img{
        width: 148px;
        }

    &__list{
            display: flex;
            align-items: center;
            margin: 0;
            }

    &__item{
        padding-left: 36px;
        text-align: center;
        a{
            line-height:1.5;
        }
    } 

    &__title-ja{
    font-size: 11px;
    letter-spacing: 0.2em;
    // margin-bottom: 5px;
    }

    &__title{
    font-size: 18px;
    font-family: variable.$ff-en; 
    }

    &__sns{
        display: block;
        width: 24px;
    }


    &__copy{
        font-size: 13px;
    }

}
