@charset "utf-8";

@use "variable";
@use "btn";
/* ------------
カテゴリータグ
------------- */
@mixin category{
    display: flex;
    gap: 8px;
    margin-top:12px;
    font-size: 14px;
    p{
        display: inline-block;
	    padding: 6px 24px;
	    line-height: 1;
	    color: variable.$text-color;
	    background-color: variable.$cream-beige;
	    border: 1px solid variable.$peach-fuzz;
	    border-radius: 32px;
    }
}

/* ------------
リストの番号
------------- */
@mixin number{
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: variable.$dusty-pink;
}