@charset "utf-8";
@use "servicesection";
@use "variable";
@use "mixin";
@use "btn";

/* ------------
serviceページ
------------- */

// サービス
// _servicesection.scssで管理

//ご利用のながれ
.flow{
    max-width: variable.$width-inner;
    padding-top: 205px;
    margin: 0 auto;
    &__list{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
    }

    &__item{
        width: 20%;
    }

    &__number{
        width: 47px;
        padding: 3px 1px 3px 5px;
        line-height: 1;
        border: 1px solid variable.$peach-fuzz;
        border-radius: 0 32px 32px 0;
        font-size: 11px;
        font-family: "futura-pt", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: variable.$dusty-pink;
        background-color: variable.$cream-beige;
    }
    &__img{
        text-align: center;
    }
    &__img img{
        width: 70%;
    }

    &__body{
        padding: 13px 17px;
        }
    
    &__title{
        font-size: 18px;
        font-weight: bold;
        color: variable.$dusty-pink;
        }

    &__text{
        padding-top: 13px;
        font-size: 15px;
        }
}
