@charset "utf-8";

@use "variable";
@use "mixin";
@use "btn";
/* ------------ーーーーーーー--
serviceセクション
(トップページとサービスページ)
---------ーーーーーーー------ */

.service{
    padding-top: 143px;
    p{
        line-height:calc(32/18);
    }

    &__inner{
        max-width: variable.$width-inner;
        margin: 0 auto;
    }

    &__list{
        display: flex;
        justify-content: space-between;
        margin-top: 138px;
    }

    &__item{
        width:31.7%;
    }

    &__number{
        @include mixin.number;
        font-size:35px ;
    }

    &__img {
        text-align: center;
    }
    &__img img{
        width: 76%;
    }

    &__body{
        display: block;
        padding: 0 48px;
    }
    
    &__title{
        font-size:25px ;
        margin-top: 22px;
    }

    &__category{
        @include mixin.category;
    }
    
    &__text{
        margin-top: 12px;
    }

    .btn-arrow{
        display: inline-block;
        margin-top: 12px;
    }
    }