@charset "utf-8";

@use "variable";
@use "mixin";
@use "btn";

/* --------------
work-website_03
--------------- */

.logo{
    width: 30%;
    padding-top: 226px;
    margin: 0 auto;
    text-align: center;

    h3{
        display: inline-block;
        padding: 10px;
        border-bottom: 4px dotted variable.$dusty-pink;
        font-size: 30px;
        color: variable.$dusty-pink;
    }

    &__img{
        margin: 0 auto;
        padding-top: 102px;
        width: 71%;
        img{
            width: 100%;
        }
    }
    &__desc{
        margin-top: 80px;
        font-size: 15px;
        line-height:1.5 ;
    }
}