@charset "utf-8";
/* ------------
ボタン
------------- */

.btn-circle{
    display: flex;
    justify-content: flex-end;
    margin-top: 26px;
    padding-right: 14px;
    
}
.message__btn{
    text-align: left;
}
