@charset "utf-8";
@use "variable";
/* --------
フッター
-------- */
.footer {
    top: 0px;
    width: 100%;

    &__inner {
        // display: flex;
        // justify-content: space-between;
        align-items: center;
        height: 162px;
        padding: 0 5%;
        background: rgb(255,209,182);
background: linear-gradient(0deg, rgba(255,209,182,1) 0%, rgba(255,219,196,1) 100%);
    }

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;  
        padding-top: 34px;
    }

    &__logo img{
        height: 58px;
        }

    &__list{
            display: flex;
            align-items: center;
            margin: 0
            ;
            }

    &__item{
            padding-left: 36px;
            text-align: center;
            } 
            a{
                line-height:1.5;
            }
 
    &__title-ja{
    font-size: 11px;
    // margin-bottom: 5px;
    }

    &__title{
    font-size: 18px;
    font-family: variable.$ff-en; 
    }
    &__sns img{
        width: 24px; 
    }

    &__copy{
        font-size: 13px;
    }

}

.sns img{
width: 24px;
}
