@charset "UTF-8";
/* ------------
ボタン
------------- */
.btn-circle {
  display: flex;
  justify-content: flex-end;
  margin-top: 26px;
  padding-right: 14px;
}

.message__btn {
  text-align: left;
}

/* --------
color
-------- */
/* --------
レイアウト幅
---------- */
/* --------
フォント
---------- */
/* ------------
全ページ共通のcss
------------- */
.main {
  margin-top: 120px;
}

.mainvisual {
  position: relative;
  margin: 0;
  padding: 0;
}
.mainvisual__img {
  width: 100%;
}
.mainvisual__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mainvisual__title-ja {
  font-size: 16px;
}
.mainvisual__title-en {
  font-size: 32px;
  font-family: "Julius Sans One", sans-serif;
}

.section__title {
  display: inline-block;
  margin-bottom: 73px;
}
.section__title-ja {
  font-size: 17px;
  letter-spacing: 0.2em;
}
.section__title-en {
  font-size: 42px;
  font-family: "Julius Sans One", sans-serif;
}
.section__title ::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 1px;
  background: #522A28;
}

.section__title-contact {
  line-height: 1.5;
}
.section__title-contact .ja {
  font-size: 17px;
  letter-spacing: 0.2em;
  margin-bottom: 5px;
}
.section__title-contact .en {
  font-size: 42px;
  font-family: "Julius Sans One", sans-serif;
}

/* ------------
contact page
------------- */
/* --------
フッター
-------- */
.footer {
  top: 0px;
  width: 100%;
}
.footer__inner {
  align-items: center;
  height: 162px;
  padding: 0 5%;
  background: rgb(255, 209, 182);
  background: linear-gradient(0deg, rgb(255, 209, 182) 0%, rgb(255, 219, 196) 100%);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
}
.footer__logo img {
  height: 58px;
}
.footer__list {
  display: flex;
  align-items: center;
  margin: 0;
}
.footer__item {
  padding-left: 36px;
  text-align: center;
}
.footer a {
  line-height: 1.5;
}
.footer__title-ja {
  font-size: 11px;
}
.footer__title {
  font-size: 18px;
  font-family: "Julius Sans One", sans-serif;
}
.footer__sns img {
  width: 24px;
}
.footer__copy {
  font-size: 13px;
}

.sns img {
  width: 24px;
}

/* --------
ヘッダー
-------- */
.header {
  top: 0px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 5%;
  background-color: #FFF7EF;
}
.header__logo img {
  height: 58px;
}
.header__list {
  display: flex;
  align-items: center;
  margin: 0;
}
.header__item {
  padding-left: 36px;
  text-align: center;
}
.header a {
  line-height: 1.5;
}
.header__title-ja {
  font-size: 11px;
}
.header__title {
  font-size: 18px;
  font-family: "Julius Sans One", sans-serif;
}
.header__sns img {
  width: 24px;
}

.sns img {
  width: 24px;
}

/* ------------
messageページ
------------- */
/* ------------
カテゴリータグ
------------- */
/* ------------
コンタクト
------------- */
/* ------------
cssリセット
------------- */
html {
  scroll-behavior: smooth;
}

/*利用するタグによってこちらの内容は増やす*/
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #522A28;
  font-family: "fot-tsukuardgothic-std", sans-serif, "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-feature-settings: "palt";
}

h2 {
  font-weight: normal;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/* 汎用クラス */
.sp_only {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp_only {
    display: block;
  }
  .pc_only {
    display: none;
  }
}
/* ------------
serviceページ
------------- */
/* ------------
skillページ
------------- */
/* ------------
topページ
------------- */
.fv {
  position: relative;
}
.fv .fv video {
  position: absolute;
  top: 0;
  left: 50%;
}
.fv__maincopy img {
  position: absolute;
  width: 30%;
  right: 10%;
  bottom: 10%;
}
.fv__inner {
  position: absolute;
  text-align: center;
  top: 0;
  padding-top: 54px;
  margin-left: 100px;
}
.fv__logo img {
  height: 122px;
}
.fv ul {
  justify-content: center;
  margin: 0 auto;
}
.fv li {
  margin: 0;
  padding: 10px;
}
.fv li a {
  line-height: 1.5;
}
.fv__title-ja {
  font-size: 11px;
}
.fv__title {
  font-size: 18px;
  font-family: "Julius Sans One", sans-serif;
}
.fv__sns img {
  width: 24px;
}

/* ------------
lead
------------- */
.lead {
  padding-top: 220px;
}
.lead__inner {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  gap: 147px;
  align-items: center;
  padding: 0 66px;
}
.lead__img {
  position: relative;
  width: 30%;
}
.lead__img img {
  width: 100%;
}
.lead__contents {
  position: relative;
  width: 46%;
  text-align: center;
}
.lead .brand__logo img {
  margin-bottom: 14px;
  height: 77px;
}
.lead__title {
  margin-bottom: 18px;
  font-size: 25px;
  color: #AE7E62;
}
.lead__text {
  font-size: 16px;
  line-height: 1.875;
}

/* ------------
works
------------- */
.works {
  padding-top: 323px;
}
.works__inner {
  max-width: 1080px;
  margin: 0 auto;
}
.works__list {
  display: flex;
  justify-content: space-between;
}
.works__item {
  width: 31%;
}
.works__img img {
  width: 100%;
}
.works__category {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  font-size: 14px;
}

/* ------------
skill
------------- */
.skill {
  padding-top: 205px;
}
.skill__inner {
  max-width: 1080px;
  margin: 0 auto;
}
.skill__list {
  display: flex;
  gap: 54px;
  padding-bottom: 54px;
}
.skill__item {
  width: 13%;
}
.skill__content {
  text-align: center;
}
.skill__img img {
  width: 100%;
  margin: 0 auto;
}
.skill__caption {
  text-align: center;
  margin-top: 8px;
  font-size: 15px;
}

/* ------------
service
------------- */
.service {
  padding-top: 205px;
}
.service p {
  line-height: 1.7777777778;
}
.service__inner {
  max-width: 1080px;
  margin: 0 auto;
}
.service__list {
  display: flex;
  justify-content: space-between;
  margin-top: 138px;
}
.service__item {
  width: 31.7%;
}
.service__number {
  font-size: 35px;
  font-weight: bold;
  color: #FFBE98;
}
.service__img img {
  width: 100%;
}
.service__title {
  font-size: 25px;
  margin-top: 22px;
  padding-left: 13%;
}
.service__category {
  display: flex;
  gap: 8px;
  margin-top: 12px;
  font-size: 14px;
  padding-left: 13%;
}

/* ------------
コンタクト
------------- */
.contact {
  padding: 132px 0;
}
.contact__inner {
  display: block;
  text-align: center;
  max-width: 1080px;
  margin: 0 auto;
}
.contact .btn-rectangle {
  margin-top: 36px;
}
.contact__text {
  margin-top: 42px;
}

/* ------------
worksページ
------------- *//*# sourceMappingURL=style.css.map */