@charset "utf-8";

/* cssリセット */

html {
    scroll-behavior: smooth;
}
/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* 汎用クラス */
.sp_only {
    display: none;
}

@media screen and (max-width: 767px) {
    .sp_only {
        display: block;
    }

    .pc_only {
        display: none;
    }
}

/* --------
HEADER
-------- */

.sp_img {
    display: none;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 7% 0 2.8%;
    top: 0;
    left: 0;
}

.header_logo img {
    height: 50px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

.header_slider img {
    width: 100%;
}

/* ハンバーガーメニュー */
.sp_nav,
.sp_btn {
    display: none;
}

.slick-dots {
    bottom: 20px;
}
.slick-dots li.slick-active button:before,
.slick-dots li button:before {
    color: #fff;
    font-size: 16px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

@media screen and (max-width: 1100px) {
    .pc_img {
        display: none;
    }
    .sp_img {
        display: block;
    }
    .pc_nav {
        display: none;
    }

    .sp_btn {
        position: absolute;
        top: 20px;
        right: 25px;
        display: block;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }

    .sp_btn span {
        position: relative;
        top: 10px;
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }
}

.sp_btn span::before,
.sp_btn span::after {
    position: absolute;
    content: "";
    display: block;
    width: 33px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    transition: 0.3s;
}

.sp_btn span::before {
    bottom: 10px;
}

.sp_btn span::after {
    top: 10px;
}

/* ハンバーガーメニューを閉じる */

.sp_btn.open span {
    background: transparent;
}

.sp_btn.open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

.sp_btn.open span::after {
    top: 0;
    transform: rotate(135deg);
}
body {
    background-color: #e8d9bf;
}

/* ハンバーガーメニュー */
.sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* ↓全画面表示 デバイスの高さ vh vw */
    height: 100vh;
    /* 一部の背景を透過させる*/
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.sp_nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.sp_nav ul li {
    padding: 20px 0;
    color: #fff;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}
/* --------
共通
---------*/

.lead,
.about,
.menu,
.event {
    max-width: 1000px;
    margin: 0 auto;
}

.section_title {
    text-align: center;
}
h2 img {
    height: 78px;
}

@media screen and (max-width: 767px) {
    h2 img {
        height: 45px;
    }
}

/* --------
lead
---------*/

.lead {
    padding-top: 95px;
    text-align: center;
}

.en {
    margin-bottom: 50px;
    font-size: 30px;
}
.title {
    margin-bottom: 33px;
    font-size: 82px;
    line-height: 1.17;
    letter-spacing: 0.1em;
}

.title_text {
    font-size: 23px;
    line-height: 1.6;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 1100px) {
    .title {
        font-size: 68px;
    }

    .title_text {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        padding-top: 45px;
        text-align: center;
    }

    .en {
        margin-bottom: 23px;
        font-size: 17px;
    }

    .title {
        margin-bottom: 24px;
        font-size: 37px;
        line-height: 1.15;
        letter-spacing: 0.02em;
    }

    .sp_title_text {
        display: block;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.1em;
    }
}

/* --------
ABOUT US
-------- */
.sp_about_image {
    display: none;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
}

.pc_about_image {
    width: 50%;
}

.pc_about_image img {
    border-radius: 0 0 82px 0;
}

.about_title {
    margin-bottom: 34px;
    font-size: 30px;
}

.about_text {
    width: 41%;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
}

.about_text h3 {
    margin-bottom: 20px;
    font-size: 44px;
    line-height: 1.4;
    font-weight: normal;
}

.about_caption {
    font-size: 16px;
    line-height: 1.6;
}
@media screen and (max-width: 1100px) {
    .about_text h3 {
        font-size: 34px;
    }
}

@media screen and (max-width: 767px) {
    .pc_about_image {
        display: none;
    }

    .about {
        text-align: center;
        padding-top: 26px;
    }

    /* .pc_about_content {
            display: block;
        } */

    .sp_about_image {
        display: block;
        width: 100%;
        margin-bottom: 35px;
    }

    .sp_about_image img {
        width: 100%;
    }

    .about_text {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 35px 0 0 0;
        padding-left: 0;
    }

    .about_text h3,
    .about_caption {
        width: 90%;
        padding: 0 10px;
        margin: 0 auto;
        text-align: left;
    }

    .about_text h3 {
        margin-bottom: 16px;
        font-size: 36px;
        font-weight: normal;
        line-height: 1.25;
    }

    .about_caption {
        font-size: 16px;
        line-height: 1.75;
    }
}

/* --------
MENU
-------- */

.menu {
    padding: 93px 10px 0 10px;
}

.menu_wrap {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.menu_content {
    width: 30%;
}

.menu_content img {
    width: 100%;
    border-radius: 0 41px 0 0;
}
.menu_title {
    margin-top: -13px;
    margin-bottom: 10px;
    padding-left: 12px;
    font-size: 38px;
    font-weight: normal;
    color: #d30202;
}

.menu_text {
    font-size: 17px;
    line-height: 1.5;
}

@media screen and (max-width: 767px) {
    .menu {
        padding: 35px 0 23px 0;
    }

    .menu_wrap {
        display: block;
        margin-top: 17px;
    }

    .menu_content {
        width: 80%;
        margin: 0 auto;
    }
    .menu_title {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .menu_text {
        line-height: 1.6;
    }

    .menu_content {
        margin-bottom: 58px;
    }
}

/* --------
GALLERY
-------- */
.sp_gallery_slider_item {
    display: none;
}

.sp_img {
    display: none;
}

.sp_gallery_img {
    display: none;
}

.gallery {
    padding-top: 85px;
}

.gallery_slider {
    margin-top: 20px;
    /* width: 20%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slick-prev:before,
.slicks-prev:before,
.slick-next:before {
    content: "";
}

.slick-prev/*戻る矢印*/, 
    .slick-next/*次へ矢印*/ {
    display: block;
    width: 20px;
    height: 20px;
    border-top: 5px solid #fff; /*矢印の色*/
    border-right: 5px solid #fff; /*矢印の色*/
    position: absolute; /*絶対配置にする*/
    top: 45%;
}

.slick-prev {
    /*戻る矢印*/
    left: 22%;
    z-index: 1; /*レイヤーの重なり順*/
    transform: rotate(-135deg);
}

.slick-next {
    /*次へ矢印*/
    right: 22%;
    transform: rotate(45deg);
}

.lb-data .lb-number {
    display: none !important;
}

@media screen and (max-width: 767px) {
    .gallery_slider img {
        display: none;
    }

    .sp_gallery_img {
        display: block;
    }

    .gallery {
        padding-top: 10px;
    }
    .gallery_slider img {
        display: block;
        width: 100%;
        padding-top: 15px;
    }
    /* .sp_gallery_img {
            display: block;
            width: 100%;
            padding-top: 15px;
        } */
    .sp_gallery_img img {
        width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        content: "";
    }

    .slick-prev/*戻る矢印*/, 
    .slick-next/*次へ矢印*/ {
        display: block;
        width: 11px;
        height: 11px;
        border-top: 2px solid #fff; /*矢印の色*/
        border-right: 2px solid #fff; /*矢印の色*/
        position: absolute; /*絶対配置にする*/
        top: 45%;
    }

    .slick-prev {
        /*戻る矢印*/
        left: 5%;
        z-index: 1; /*レイヤーの重なり順*/
        transform: rotate(-135deg);
    }

    .slick-next {
        /*次へ矢印*/
        right: 5%;
        transform: rotate(45deg);
    }
}

/* --------
EVENT
-------- */

.event {
    padding: 64px 10px 0 10px;
}

.event_box {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    padding: 3% 30px 3% 30px;
    border: solid 3px #4f260b;
    background-color: #ffffff;
}

.event_wrap {
    display: flex;
    align-items: center;
    font-size: 23px;
}

time {
    padding: 10px 0 10px 0;
}

.event_wrap a {
    padding-left: 46px;
    text-decoration: underline #4f260b;
}

@media screen and (max-width: 767px) {
    .event {
        margin: 0 auto;
        padding: 27px 10px 0 10px;
    }

    .event_box {
        display: block;
        margin-top: 20px;
        padding: 3% 30px;
        justify-content: center;
    }

    .event_wrap {
        display: block;
        margin: 0 auto;
        font-size: 16px;
    }

    time {
        display: block;
        padding: 10px 0 5px 0;
    }

    .event_wrap a {
        display: block;
        padding: 0 0 10px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* --------
ACCESS
-------- */

.access {
    padding-top: 75px;
}

iframe {
    margin-top: 35px;
    width: 100%;
    height: 470px;
    display: block;
}

@media screen and (max-width: 767px) {
    .access {
        padding-top: 26px;
    }

    iframe {
        margin-top: 5px;
        width: 100%;
        height: 191px;
    }
}
/* --------
FOOTER
-------- */

footer {
    background-color: white;
}
.footer_wrap {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 74px;
    padding-left: 20px;
    display: flex;
}

.footer_logo {
    width: 226px;
    padding-right: 60px;
    vertical-align: top;
}

.item_info p {
    font-size: 20px;
    line-height: 1.95;
    color: black;
}

.copyright {
    margin: 0 auto;
    padding-top: 74px;
    padding-bottom: 75px;
    font-size: 16px;
    text-align: center;
    color: black;
}

@media screen and (max-width: 767px) {
    .footer_wrap {
        display: block;
        padding-top: 39px;
    }

    .item_info {
        padding: 25px 0 0 0;
    }

    .item_info p {
        font-size: 18px;
        line-height: 1.7;
    }

    .copyright {
        padding-top: 40px;
        padding-bottom: 25px;
        font-size: 16px;
    }
}

/* --------
page top
-------- */

.pagetop {
    /* 固定表示 */
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 125px;
}

@media screen and (max-width: 767px) {
    .pagetop {
        width: 100px;
    }
}
